@{
    ViewBag.Title = "Home Page";
}

<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
            <h6 class="slim-pagetitle">Welcome back, NGUYEN HOGN QUANG</h6>
        </div><!-- slim-pageheader -->

        <div class="row row-xs">
            <div class="col-sm-6 col-lg-3">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-cloud-download-outline tx-purple"></i>
                        <div class="media-body">
                            <h1>32,604</h1>
                            <p>Total downloads</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-bookmarks-outline tx-teal"></i>
                        <div class="media-body">
                            <h1>17,583</h1>
                            <p>Total bookmarks</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-cloud-upload-outline tx-primary"></i>
                        <div class="media-body">
                            <h1>61,119</h1>
                            <p>Total uploads</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon ion-ios-analytics-outline tx-pink"></i>
                        <div class="media-body">
                            <h1>2,942</h1>
                            <p>Total analytics</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
        </div><!-- row -->

        <div class="row row-xs mg-t-10">
            <div class="col-lg-8 col-xl-9">
                <div class="row row-xs">
                    <div class="col-md-5 col-lg-6 col-xl-5">
                        <div class="card card-activities pd-20">
                            <h6 class="slim-card-title">Recent Activities</h6>
                            <p>Last activity was 1 hour ago</p>

                            <div class="media-list">
                                <div class="media">
                                    <div class="activity-icon bg-primary">
                                        <i class="icon ion-stats-bars"></i>
                                    </div><!-- activity-icon -->
                                    <div class="media-body">
                                        <h6>Report has been updated</h6>
                                        <p>Aenean vulputate eleifend tellus. A nean leo ligula, porttitor.</p>
                                        <span>2 hours ago</span>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                                <div class="media">
                                    <div class="activity-icon bg-success">
                                        <i class="icon ion-trophy"></i>
                                    </div><!-- activity-icon -->
                                    <div class="media-body">
                                        <h6>Achievement Unlocked</h6>
                                        <p>Aenean vulputate eleifend tellus. A nean leo ligula, porttitor.</p>
                                        <span>2 hours ago</span>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                                <div class="media">
                                    <div class="activity-icon bg-purple">
                                        <i class="icon ion-image"></i>
                                    </div><!-- activity-icon -->
                                    <div class="media-body">
                                        <h6>Added new images</h6>
                                        <p>Aenean vulputate eleifend tellus. A nean leo ligula, porttitor.</p>
                                        <span>2 hours ago</span>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                            </div><!-- media-list -->
                        </div><!-- card -->
                    </div><!-- col-5 -->
                    <div class="col-md-7 col-lg-6 col-xl-7 mg-t-10 mg-md-t-0">
                        <div class="dash-headline-item-one">
                            <div id="chartMultiBar1" class="chart-rickshaw"></div>
                            <div class="dash-item-overlay">
                                <h1>$98,886,758</h1>
                                <p class="earning-label">Today's Earnings</p>
                                <p class="earning-desc">Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus...</p>
                                <a href="#" class="statement-link">View Statements <i class="fa fa-angle-right mg-l-5"></i></a>
                            </div>
                        </div><!-- dash-headline-item-one -->
                    </div><!-- col-7 -->
                </div><!-- row -->
            </div><!-- col-9 -->
            <div class="col-lg-4 col-xl-3 mg-t-10 mg-lg-t-0">
                <div class="card card-people-list pd-20">
                    <div class="slim-card-title">People you may know</div>
                    <div class="media-list">
                        <div class="media">
                            <img src="http://via.placeholder.com/500x500" alt="">
                            <div class="media-body">
                                <a href="">Dương Quỳnh Anh</a>
                                <p class="tx-12">Software Engineer</p>
                            </div><!-- media-body -->
                            <a href=""><i class="icon ion-person-add tx-20"></i></a>
                        </div><!-- media -->
                        <div class="media">
                            <img src="http://via.placeholder.com/500x500" alt="">
                            <div class="media-body">
                                <a href="">Đinh Việt Hoàng</a>
                                <p class="tx-12">Architect</p>
                            </div><!-- media-body -->
                            <a href=""><i class="icon ion-person-add tx-20"></i></a>
                        </div><!-- media -->
                        <div class="media">
                            <img src="http://via.placeholder.com/500x500" alt="">
                            <div class="media-body">
                                <a href="">Trần Duy Quân</a>
                                <p class="tx-12">Sales Representative</p>
                            </div><!-- media-body -->
                            <a href=""><i class="icon ion-person-add tx-20"></i></a>
                        </div><!-- media -->
                    </div><!-- media-list -->
                </div><!-- card -->
            </div><!-- col-3 -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- slim-mainpanel -->