
@{
    ViewBag.Title = "Transactionhistory";
}
<div class="container">
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item active"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Lịch Sử Giao Dịch</a></li>
        </ol>
        <h6 class="slim-pagetitle">lịch Sử Giao Dịch</h6>
    </div><!-- slim-pageheader -->
    <div class="slim-mainpanel">
        <div class="container">
            <div class="section-wrapper mg-t-20">
                <label class="section-title">Lịch Sử Giao Dịch</label>
                <p class="mg-b-20 mg-sm-b-40">Thông tin Lịch Sử.</p>

                <div class="table-responsive">
                    <table class="table table-bordered mg-b-0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Giờ/Ngày</th>
                                <th>Tên Tài Khoản</th>
                                <th>STK</th>
                                <th>Ngân Hàng</th>
                                <th>Người Nhận</th>
                                <th>STK Người Nhận</th>
                                <th>Ngân Hàng</th>
                                <th>Số Tiền Gửi</th>
                                <th>Lời Nhắn</th>
                                <th>Mã Giao dịch</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>22:22 26/1/2022</td>
                                <td>NGUYEN HONG QUANG</td>
                                <td>888866669999</td>
                                <td>TECKCOMBANK</td>
                                <td>NGUYEN VAN DUC</td>
                                <td>333366669999</td>
                                <td>BMBANK</td>
                                <td>+ 5.000.000 VND</td>
                                <td>THUONG TET 2022 CHO DUC</td>
                                <td>B2BJDMDKWD52D333</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>22:22 26/1/2022</td>
                                <td>NGUYEN HONG QUANG</td>
                                <td>888866669999</td>
                                <td>TECKCOMBANK</td>
                                <td>NGUYEN VAN DUC</td>
                                <td>333366669999</td>
                                <td>BMBANK</td>
                                <td>- 5.000.000 VND</td>
                                <td>THUONG TET 2022 CHO DUC</td>
                                <td>B2BJDMDKWD52D333</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>22:22 26/1/2022</td>
                                <td>NGUYEN HONG QUANG</td>
                                <td>888866669999</td>
                                <td>TECKCOMBANK</td>
                                <td>NGUYEN VAN DUC</td>
                                <td>333366669999</td>
                                <td>BMBANK</td>
                                <td>- 5.000.000 VND</td>
                                <td>THUONG TET 2022 CHO DUC</td>
                                <td>B2BJDMDKWD52D333</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>22:22 26/1/2022</td>
                                <td>NGUYEN HONG QUANG</td>
                                <td>888866669999</td>
                                <td>TECKCOMBANK</td>
                                <td>NGUYEN VAN DUC</td>
                                <td>333366669999</td>
                                <td>BMBANK</td>
                                <td>+ 5.000.000 VND</td>
                                <td>THUONG TET 2022 CHO DUC</td>
                                <td>B2BJDMDKWD52D333</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>22:22 26/1/2022</td>
                                <td>NGUYEN HONG QUANG</td>
                                <td>888866669999</td>
                                <td>TECKCOMBANK</td>
                                <td>NGUYEN VAN DUC</td>
                                <td>333366669999</td>
                                <td>BMBANK</td>
                                <td>+ 5.000.000 VND</td>
                                <td>THUONG TET 2022 CHO DUC</td>
                                <td>B2BJDMDKWD52D333</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>22:22 26/1/2022</td>
                                <td>NGUYEN HONG QUANG</td>
                                <td>888866669999</td>
                                <td>TECKCOMBANK</td>
                                <td>NGUYEN VAN DUC</td>
                                <td>333366669999</td>
                                <td>BMBANK</td>
                                <td>+ 5.000.000 VND</td>
                                <td>THUONG TET 2022 CHO DUC</td>
                                <td>B2BJDMDKWD52D333</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>22:22 26/1/2022</td>
                                <td>NGUYEN HONG QUANG</td>
                                <td>888866669999</td>
                                <td>TECKCOMBANK</td>
                                <td>NGUYEN VAN DUC</td>
                                <td>333366669999</td>
                                <td>BMBANK</td>
                                <td>+ 5.000.000 VND</td>
                                <td>THUONG TET 2022 CHO DUC</td>
                                <td>B2BJDMDKWD52D333</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>22:22 26/1/2022</td>
                                <td>NGUYEN HONG QUANG</td>
                                <td>888866669999</td>
                                <td>TECKCOMBANK</td>
                                <td>NGUYEN VAN DUC</td>
                                <td>333366669999</td>
                                <td>BMBANK</td>
                                <td>+ 5.000.000 VND</td>
                                <td>THUONG TET 2022 CHO DUC</td>
                                <td>B2BJDMDKWD52D333</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- table-responsive -->
            </div><!-- section-wrapper -->
        </div>
    </div>
</div>