<div class="slim-footer">
    <div class="container">
        <p>Hubble Bank 2022 &copy; Chuyển tiền siêu cấp vũ trụ</p>
        <p>Đen Vâu: <a href="">Mang tiền về cho mẹ</a></p>
    </div><!-- container -->
</div><!-- slim-footer -->