<div class="slim-header">
    <div class="container">
        <div class="slim-header-left">
            <h2 class="slim-logo"><a href="index.html">T2009M Bank<span>.</span></a></h2>

            <!--<div class="search-box">
                <input type="text" class="form-control" placeholder="Search">
                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>--><!-- search-box -->
        </div><!-- slim-header-left -->

    </div><!-- container -->
</div><!-- slim-header -->