@{
    var userSecsion = (bank_client.ServiceReference1.AccountDto)Session[bank_client.Models.AccountStore.USER_SESSION];
}
<div class="slim-header">
    <div class="container">
        <h2 class="slim-logo"><a href="index.html">T2009M Bank<span>.</span></a></h2>
        @if (userSecsion != null)
        {
            @Html.ActionLink("Logout", "Logout", "Account")
        }

    </div><!-- container -->
</div><!-- slim-header -->