
@{
    ViewBag.Title = "Register";
}

<div class="signin-wrapper">

    <div class="signin-box signup">
        <h2 class="slim-logo"><a href="index.html">T2009M Bank<span>.</span></a></h2>
        <h3 class="signin-title-primary">Get Started!</h3>
        <h5 class="signin-title-secondary lh-4">It's free to signup and only takes a minute.</h5>

        <div class="row">
            <div class="col-md-4 mg-b-10">
                <input type="text" class="form-control" placeholder="Tên">
            </div>
            <div class="col-md-8 mg-b-10">
                <input type="text" class="form-control" placeholder="Họ và tên đệm">
            </div>
            <div class="col-md-12 mg-b-10">
                <input type="text" class="form-control" placeholder="Tên đăng nhập">
            </div>
            <div class="col-md-6 mg-b-10">
                <input type="password" class="form-control" placeholder="Mật khẩu">
            </div>
            <div class="col-md-6 mg-b-10">
                <input type="password" class="form-control" placeholder="Xác nhận mật khẩu">
            </div>
            <div class="col-md-12 mg-b-10">
                <input type="text" class="form-control" placeholder="Số điện thoại">
            </div>
            <div class="col-md-12 mg-b-10">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="col-md-8 mg-b-10">
                <input type="number" class="form-control" placeholder="Số CCCD/CMND">
            </div>
            <div class="col-md-4 mg-b-10">
                <input type="date" class="form-control" placeholder="Ngày sinh">
            </div>
            <div class="col-md-12 mg-b-10">
                <textarea class="form-control" placeholder="Địa chỉ"></textarea>
            </div>
        </div><!-- row -->



        <button class="btn btn-primary btn-block btn-signin">Đăng Ký</button>

        <div class="signup-separator"><span>or signup using</span></div>

        <button class="btn btn-facebook btn-block">Sign Up Using Facebook</button>
        <button class="btn btn-twitter btn-block">Sign Up Using Twitter</button>

        <p class="mg-t-40 mg-b-0">Already have an account? <a href="page-signin.html">Sign In</a></p>
    </div><!-- signin-box -->

</div><!-- signin-wrapper -->
